*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
}

.container{
    width: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.user{
    width: 100%;
    background-color: whitesmoke;
    border: slategrey 1px solid;
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: medium;
    overflow: hidden;
}

.card{
    background-color: steelblue;
    height: 85px;
    padding: 25px;
    margin-bottom: 70px;
}

.card-body{
    padding: 25px;
    margin: 20px;
}
h1, h3, p{
    margin: 20px;
    padding: 5px;
}
.profPic{
    height: 170px;
    border: 20px;
    border-radius: 50%;
    padding: 10px;
    background-color: whitesmoke;
    margin: 25px;
}

.icons{
    height: 20px;
}